.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.log
*.pdf
*.synctex.gz
*.sty
*.bbl
*.blg
*.toc
*.aux
*.out
*.nav
*.snm
*-concordance.tex
main.tex
Homework2.tex
homework3.tex
homework4.tex
homework5.tex
homework6.tex
quant_meths_project/*.tex
failures.all
LAFr_verbs.bin
finite_state_project/*.txt
finite_state_project/generated_dicts/
