.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.log
*.pdf
*.synctex.gz
*.sty
*.bbl
*.blg
*.toc
*.aux
*.out
*.nav
*.snm
*-concordance.tex
main.tex
Homework2.tex
homework3.tex
homework4.tex
homework5.tex
homework6.tex
quant_meths_project/*.tex
finite_state_project/*.txt
finite_state_project/generated_dicts/
failures.all
LAFr_verbs.bin
socio_seminar_project/*.txt
socio_seminar_project/third_person*.tex
socio_seminar_project/third_person*.csv
quant_meths_project/nccfr_tv*.csv
socio_intro_the_niche/data_cleaned.csv
compile*.ps1
